@import 'tailwindcss/preflight';

@import 'tailwindcss/components';

@import 'prism';

@import 'grid';

@import 'tailwindcss/utilities';

code[class*='language-'],
pre[class*='language-'] {
  margin: 40px 0;
}

h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 10px;

  @apply text-black;
}

p > code[class*='language-'] {
  padding: 2px 4px;
  font-size: 15px;
}

h3 {
  font-size: 24px;
  line-height: 1.1;
}

p,
li {
  font-size: 18px;
  line-height: 1.8;
}

p + *,
ul + *,
ol + * {
  margin-top: 30px;
}

a,
a * {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.article {
  width: 100%;
  max-width: config('screens.md');
  margin: 0 auto;
}
